@page
@model EgdeBookingSystemV2.Pages.Equipments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Fjern</h2>
<hr />
<h3>Er du sikker på om du vil fjerne utstyret?</h3>
<div>
    <h4>Ustyret</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ModelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Location.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Equipment.ID" />
        <input type="submit" value="Slett" class="btn btn-danger" /> |
        <a asp-page="./Index">Tilbake til listen</a>
    </form>
</div>
