@page
@model EgdeBookingSystemV2.Pages.Equipments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

<h1>Alt Utstyr</h1>

<p>
    <a asp-page="Create" class="btn btn-egde-blå ">Legg til utstyr</a>

    <a asp-page="/Locations/Create" class="btn btn-egde-blå ">Legg til lokasjon</a>

    <a asp-page="/Categories/Create" class="btn btn-egde-blå">Legg til kategori</a>
</p>



<form>
    <p>
        <input type="text" asp-for="SearchString" placeholder="Søk etter utstyr" oninput="this.form.submit();" id="autofocusLastChar" />

        <label class="control-label"></label>
        <select asp-for="CategoryFilter" asp-items="Model.Categories" oninput="this.form.submit();">
            <option value="">Velg kategori </option>
        </select>

        <label class="control-label"></label>
        <select asp-for="LocationFilter" asp-items="Model.Locations" oninput="this.form.submit();">
            <option value="">Velg lokasjon </option>
        </select>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Location.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EquipmentSearch)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-egde-small">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-egde-small">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-egde-small">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    (function ($) {
        $.fn.focusTextToEnd = function () {
            this.focus();
            var $thisVal = this.val();
            this.val('').val($thisVal);
            return this;
        }
    }(jQuery));
    $("#autofocusLastChar").focusTextToEnd();
</script>
