@page
@model EgdeBookingSystemV2.Pages.MyPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2 class="mt-4" >Aktive bookinger</h2>
<hr />

@if (Model.ActiveBookings.Count != 0)
{
    <table class="table table-borderless table-striped table-hover" >
        <thead>
            <tr>
                <th class="h4" hidden>
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].UserEmail)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].Equipment.Name)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].StartDate)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].EndDate)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActiveBookings)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |*@
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-egde-small">Fjern</a>
                        <a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="mt-2">Du har ingen aktive bookinger!</h3>
}

<div class="mx1 border-dark border-top">

</div>

<h2 class="mt-4">Historiske bookinger</h2>
<hr />


@if (Model.HistoricBookings.Count != 0)
{
    <table class="table table-borderless table-striped table-hover" >
        <thead>
            <tr>
                <th class="h4" hidden>
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].UserEmail)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].Equipment.Name)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].StartDate)
                </th>
                <th class="h4">
                    @Html.DisplayNameFor(model => model.ActiveBookings[0].EndDate)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HistoricBookings)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |*@
                        <a asp-page="/Bookings/Create" asp-route-id="@item.EquipmentID" class="btn btn-egde-small">Book</a> 
                        <a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Du har ingen historiske bookinger!</h3>
}


