@page
@model EgdeBookingSystemV2.Pages.UserView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="/Bookings/Create" asp-route-id="@item.ID">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
