@page
@model EgdeBookingSystemV2.Pages.UserView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

@if ((string)TempData["Booking"] == "Booket")
{
<div class="alert alert-success mt-4">
    <strong>Utstyret er booket!</strong>
</div>
}

<h2 class="mt-4 mx-2">Alt utstyr</h2>
<hr />


<form class="form-inline">
    <input class="form-control mr-sm-2" type="text" asp-for="SearchString" placeholder="Søk etter utstyr" oninput="this.form.submit();" id="autofocusLastChar" />


    <div class="input-group mx-2">

        <select class="custom-select" asp-for="CategoryFilter" asp-items="Model.Categories" oninput="this.form.submit();">
            <option value="">Alle kategorier </option>
        </select>

    </div>
    <div class="input-group mx-2">

        <select class="custom-select" asp-for="LocationFilter" asp-items="Model.Locations" oninput="this.form.submit();">
            <option value="">Alle lokasjoner </option>
        </select>


    </div>

</form>




<table class="table table-striped table-borderless table-hover ">
    <thead>
        <tr class="">

            <th class="h4">

                @Html.DisplayNameFor(model => model.Equipment[0].Name)
            </th>
            <th class="h4">
                @Html.DisplayNameFor(model => model.Equipment[0].ModelNumber)
            </th>

            <th class="h4">
                @Html.DisplayNameFor(model => model.Equipment[0].Location.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EquipmentSearch)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>

                    <a asp-page="/Bookings/Create" asp-route-id="@item.ID" class="btn btn-egde-blå ">Book</a>
                    <a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    (function ($) {
        $.fn.focusTextToEnd = function () {
            this.focus();
            var $thisVal = this.val();
            this.val('').val($thisVal);
            return this;
        }
    }(jQuery));
    $("#autofocusLastChar").focusTextToEnd();
</script>
