@page
@model EgdeBookingSystemV2.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-4">Detaljer</h2>
<hr />
<div>
    <h4>Bookinginformajson</h4>

    <dl class="row mx-1">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>

    </dl>

    <h4>Utstyrsinformasjon </h4>

    <dl class="row mx-1">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.ModelNumber)
        </dd>


    </dl>
</div>
<div>

    <a asp-page="./Index">Tilbake til listen</a>
</div>
