@page
@model EgdeBookingSystemV2.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.UserEmail" class="control-label" hidden></label>
                <input asp-for="Booking.UserEmail" value="@User.Identity.Name" class="form-control" readonly />
                <span asp-validation-for="Booking.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" class="form-control" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="control-label"></label>
                <input asp-for="Booking.EndDate" class="form-control" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EquipmentID" class="control-label" hidden></label>
                <input asp-for="Booking.EquipmentID" class="form-control" value="@Model.Equipment.ID" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Tilbake til listen</a>
</div>

@if (Model.BookingList.Count != 0)
{
    <div>
        <h4>Aktive bookinger av utstyret:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingList[0].UserEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingList[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingList[0].EndDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookingList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4>Det er ingen bookinger av dette utstyret</h4>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

        <script src="~/lib/jquery.js"></script>
        <script src="~/lib/jquery.validate.js"></script>
        <script src="~/lib/jquery.validate.unobtrusive.js"></script>

}
