@page
@model EgdeBookingSystemV2.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="mt-4">Slett bookingen</h2>
<hr />
<div>
    <h3>Bookinginformasjon</h3>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EquipmentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Equipment.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Equipment.ModelNumber)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Booking.ID" />
        <input type="submit" value="Slett" class="btn btn-egde" />   
    </form>

</div>

<div class="mt-3"> 
    <a asp-page="./Index">Tilbake til listen</a>
</div>